

.gradient-background {
  background-image: url("../images/artistic-blurry-colorful.jpg");
  background-size: 180% 180%;
  animation: gradient-animation 40s ease infinite;
  height: 25rem;
}

.gradient-background-footer {
  background-image: url("../images/artistic-blurry-colorful.jpg");
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@media (min-width: 300px) and (max-width: 990px) { .gradient-background {
  height: 100%;
}
.testimonial_section{
  gap: 10px;
  padding-right: 60px;

}
.footer_section{
  width: 40%;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}